.centered-container {
    justify-content: center;
    display: flex;
}

.App {
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.Footer {
    margin-top: auto;
    /*height: 50px; this is unecessary, as it expands the footer and will give us and scrollbar that we don't want*/

}

/*.nav-item { 
    background-color: red;
} */