.centered-container {
    justify-content: center;
    display: flex;
}

.App {
    text-align:  center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.Footer {
    margin-top: auto;
    height: 50px;

}

/*.nav-item { 
    background-color: red;
} */